.mat-test {
    background-color: black;
    border-radius: 2rem;
    /* This added just to be similar to PrimeNG, by default, Material is better */
    font-size: 14px;
    height: fit-content;
    padding: 8px;
}

::ng-deep .p-button {
    background-color: black;
    padding: 8px;
    font-size: 14px;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;

    &:focus {
        box-shadow: none;
    }
}
