<h1 class="text-center w-full text-blue-600">Fieldset</h1>

<br>

<main class="flex justify-evenly gap-5">
    <section class="flex flex-col gap-2 justify-start w-full">
        <h3 class="primeng text-center w-fit">PrimeNG</h3>
        <h4 class="text-center">This is only in PrimeNG, so it will count in the "variety" section</h4>
        <p-fieldset legend="Header" [toggleable]="true" class="w-full">
            <p>
                Lorem ipsum dolor sit amet...
            </p>
        </p-fieldset>
    </section>

    <section class="w-full flex flex-col gap-3 items-start">
        <p>You can also use the basic HTML tag <code>details</code>. However, PrimeNG is easier to set up</p>
        <details>
            <summary>Toggle me!</summary>
            <div>
                <h3>Wow, such a toggle!</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem voluptatem fugit, atque earum inventore quasi repellendus! Eius id in consequuntur qui, dolores maiores? Voluptatem totam id est, nihil quo sint.</p>
            </div>
        </details>
    </section>
</main>