<h1 class="text-center w-full text-blue-600">Autocomplete</h1>

<br>

<main class="flex justify-evenly gap-2">
    <section class="flex flex-col gap-2">
        <h3 class="primeng text-center w-fit">PrimeNG</h3>
        <form [formGroup]="formGroup!">
            <p-floatLabel>
                <p-autoComplete 
                    formControlName="selectedCountry"
                    [suggestions]="filteredCountries!" 
                    (completeMethod)="filterCountry($event)" 
                    field="name"
                    inputStyleClass="p-3"
                    panelStyleClass="py-2"
                    dropdownMode="current"
                    [completeOnFocus]="true"
                    [showEmptyMessage]="true"
                    inputId="float-label"
                    delay="0"
                >
                    <ng-template let-country pTemplate="item">
                        <span>{{country.name}}</span>
                    </ng-template>
                    <ng-template pTemplate="empty">
                        <span class="p-[12px]">No countries to show</span>
                    </ng-template>
                </p-autoComplete>
                <label for="float-label" class="top-[40%]">Country</label> <!-- We should know this label for float label has position absolute on primeNG -->
            </p-floatLabel>
        </form>
    </section>

    <hr class="border-blue-400">

    <section class="flex flex-col gap-2">
        <h3 class="angular-material text-center w-fit">Angular Material</h3>
        <form [formGroup]="formGroup!">
            <mat-form-field appearance="fill">
                <mat-label>Country</mat-label>
                <input type="text"
                       matInput
                       [formControlName]="'selectedCountry'"
                       [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    @for (country of filteredCountriesMaterial | async; track country) {
                        <mat-option [value]="country">
                            {{ country.name }}
                        </mat-option> 
                    }
                </mat-autocomplete>
              </mat-form-field>
        </form>
    </section>
</main>

<br>

@if (formGroup?.get('selectedCountry')?.value.name) {
    <h2 class="text-center">Choosen country: <span>{{formGroup?.get('selectedCountry')?.value?.name}}, ({{formGroup?.get('selectedCountry')?.value?.code}})</span></h2>
}
