<h1 class="text-center w-full text-blue-600">Panel</h1>

<br>

<main class="flex justify-evenly gap-2">
    <section class="flex flex-col gap-2 justify-start w-[50%]">
        <h3 class="primeng text-center w-fit">PrimeNG</h3>
        <div>
            <div class="flex mb-3 gap-2 justify-end">
                <p-button 
                    (click)="activeIndex = 0" 
                    rounded="true" 
                    label="1" 
                    styleClass="w-[2rem] h-[2rem] p-0" 
                    [outlined]="activeIndex !== 0" />
                <p-button 
                    (click)="activeIndex = 1" 
                    rounded="true" 
                    label="2" 
                    styleClass="w-[2rem] h-[2rem] p-0" 
                    [outlined]="activeIndex !== 1" />
                <p-button 
                    (click)="activeIndex = 2" 
                    rounded="true" 
                    label="3" 
                    styleClass="w-[2rem] h-[2rem] p-0" 
                    [outlined]="activeIndex !== 2" />
            </div>
            <p-accordion (activeIndexChange)="activeIndexChange($event)" [activeIndex]="activeIndex">
                <p-accordionTab header="Header I">
                    <p class="m-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </p-accordionTab>
                <p-accordionTab header="Header II">
                    <p class="m-0">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                        ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
                    </p>
                </p-accordionTab>
                <p-accordionTab header="Header III">
                    <p class="m-0">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
                        qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
                    </p>
                </p-accordionTab>
            </p-accordion>
        </div>
    </section>

    <hr class="border-blue-400">

    <section class="flex flex-col gap-2 justify-start">
        <h3 class="angular-material text-center w-fit">Angular Material</h3>
        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title> This is the expansion title </mat-panel-title>
                <mat-panel-description> This is a summary of the content </mat-panel-description>
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
              <mat-expansion-panel-header>
                <mat-panel-title> Self aware panel </mat-panel-title>
                <mat-panel-description>
                  Currently I am {{panelOpenState() ? 'open' : 'closed'}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>I'm visible because I am open</p>
            </mat-expansion-panel>
          </mat-accordion>          
    </section>
</main>