:host ::ng-deep {
    .p-tabview-nav-link {
        padding: 1rem;
    }
    .p-icon-wrapper {
        margin-left: 8px;
        width: 8px;
        
        :hover {
            color: red;
        }
    }

    .p-tabview {
        p {
            padding: .5rem;
        }
    }
}

.example-input-label,
.example-add-tab-button,
.example-delete-tab-button {
  margin: 8px;
}