<br>

<div class="flex justify-center" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon>home</mat-icon>
</div>

<ul class="p-5 flex flex-col gap-2 list-none items-center">
    <li routerLink="autocomplete" routerLinkActive="active">Autocomplete</li>
    <li routerLink="badge" routerLinkActive="active">Badge</li>
    <li routerLink="calendar" routerLinkActive="active">Calendar</li>
    <li routerLink="carousel" routerLinkActive="active">Carousel</li>
    <li routerLink="chips" routerLinkActive="active">Chips</li>
    <li routerLink="dialog" routerLinkActive="active">Dialog</li>
    <li routerLink="drag-drop" routerLinkActive="active">Drag & Drop</li>
    <li routerLink="fieldset" routerLinkActive="active">Fieldset</li>
    <li routerLink="button-group" routerLinkActive="active">Button Group</li>
    <li routerLink="listbox" routerLinkActive="active">List box</li>
    <li routerLink="paginator" routerLinkActive="active">Paginator</li>
    <li routerLink="panel" routerLinkActive="active">Panel</li>
    <li routerLink="picklist" routerLinkActive="active">Pick List</li>
    <li routerLink="progress-bar" routerLinkActive="active">Progress Bar</li>
    <li routerLink="progress-spinner" routerLinkActive="active">Progress Spinner</li>
    <li routerLink="rating" routerLinkActive="active">Rating</li>
    <li routerLink="slider" routerLinkActive="active">Slider</li>
    <li routerLink="splitter" routerLinkActive="active">Splitter</li>
    <li routerLink="tab-menu" routerLinkActive="active">Tab Menu</li>
    <li routerLink="table" routerLinkActive="active">Table</li>
    <li routerLink="toast" routerLinkActive="active">Toast</li>
    <li routerLink="tooltip" routerLinkActive="active">Tooltip</li>
    <li routerLink="tree" routerLinkActive="active">Tree</li>
</ul>