<span class="text-center remove-to-print"><code class="bg-gray-800 text-red-400 p-1 rounded">DISCLAMER</code>&nbsp;This page is not intented to be "pretty", I just test how components work on their base shape and giving a bit of style sometimes if needed</span>
<br>
<div class="flex gap-2 items-center">
    <h1>Results overall winner: <span class="font-normal underline">{{winnerOverall()}}</span></h1>
    <p-button label="Print" icon="pi pi-print" iconPos="right" (click)="printResults()" class="remove-to-print"></p-button>
    <!-- <button mat-button color="print">
        <span>Print</span>
        <mat-icon class="mat-18" iconPositionEnd>print</mat-icon>
    </button> -->
</div>
<p class="mb-1 remove-to-print">Best is to use Tailwind with them or in case of PrimeNG, PrimeFlex if you like.</p>
<hr>
<div class="mt-1 flex flex-col gap-1">
    <h4>PrimeNG wins - <span class="text-sm text-white bg-green-700 font-normal rounded-full px-1">{{primeNGWins().length}}</span> : 
        @for (item of primeNGWins(); track $index) {
            @if($index != 0) {
                <span class="font-normal">, </span>
            }
            <span class="font-normal cursor-pointer hover:text-blue-600" (click)="selectIndex(item.feature)">{{item.feature}}</span>
        }
    </h4>
    <h4>Angular Material wins - <span class="text-sm text-white bg-green-700 font-normal rounded-full px-1">{{angularMaterialWins().length}}</span> : 
        @for (item of angularMaterialWins(); track $index) {
            @if($index != 0) {
                <span class="font-normal">, </span>
            }
            <span class="font-normal cursor-pointer hover:text-blue-600" (click)="selectIndex(item.feature)">{{item.feature}}</span>
        }
    </h4>
    <h4>Ties - <span class="text-sm text-white bg-green-700 font-normal rounded-full px-1">{{ties().length}}</span> : 
        @for (item of ties(); track $index) {
            @if($index != 0) {
                <span class="font-normal">, </span>
            }
            <span class="font-normal cursor-pointer hover:text-blue-600" (click)="selectIndex(item.feature)">{{item.feature}}</span>
        }
    </h4>
</div>

<mat-tab-group class="remove-to-print" animationDuration="0" [selectedIndex]="selectedIndex" (selectedTabChange)="changeIndexTab($event)">
    @for (tab of results; track $index) {
        <mat-tab>
            <ng-template mat-tab-label><span class="text-blue-600 remove-to-print">{{tab.feature}}</span></ng-template>
            <h3 class="text-center mt-2">
                Winner: <span class="underline font-normal">{{tab.winner}}</span>
                @if(tab.link) {
                    <span> - <span class="bg-blue-600 text-white font-normal rounded p-1 cursor-pointer" [routerLink]="tab.link">Go to component</span></span>
                }
            </h3>
            <div class="grid grid-cols-2 gap-2">
                <article>
                    <h3 class="text-center m-4"><span class="primeng">PrimeNG</span></h3>
                    <h4 class="text-green-600">Pros - <span class="text-sm text-white bg-green-700 font-normal rounded-full px-1">{{tab.primeNG?.pros?.length ? tab.primeNG?.pros?.length : 0}}</span></h4>
                    <ul class="list-decimal list-inside">
                        @for (pro of tab.primeNG?.pros; track $index) {
                            <li class="m-2">{{pro}}.</li>
                        } @empty {
                            <br>
                        }
                    </ul>

                    <h4 class="text-red-600">Cons - <span class="text-sm text-white bg-red-700 font-normal rounded-full px-1">{{tab.primeNG?.cons?.length ? tab.primeNG?.cons?.length : 0}}</span></h4>
                    <ul class="list-decimal list-inside">
                        @for (con of tab.primeNG?.cons; track $index) {
                            <li class="m-2">{{con}}.</li>
                        }
                    </ul>
                </article>
                <article>
                    <h3 class="text-center m-4"><span class="angular-material">Angular Material</span></h3>
                    <h4 class="text-green-600">Pros - <span class="text-sm text-white bg-green-700 font-normal rounded-full px-1">{{tab.angularMaterial?.pros?.length ? tab.angularMaterial?.pros?.length : 0}}</span></h4>
                    <ul class="list-decimal list-inside">
                        @for (pro of tab.angularMaterial?.pros; track $index) {
                            <li class="m-2">{{pro}}.</li>
                        } @empty {
                            <br>
                        }
                    </ul>

                    <h4 class="text-red-600">Cons - <span class="text-sm text-white bg-red-700 font-normal rounded-full px-1">{{tab.angularMaterial?.cons?.length ? tab.angularMaterial?.cons?.length : 0}}</span></h4>
                    <ul class="list-decimal list-inside">
                        @for (con of tab.angularMaterial?.cons; track $index) {
                            <li class="m-2">{{con}}.</li>
                        }
                    </ul>
                </article>
            </div>
        </mat-tab>
    }
</mat-tab-group>

@for (tab of results; track $index) {
    <h2 class="display-to-print text-center text-white rounded bg-blue-600 w-full">{{results[$index].feature}}</h2>
    <section class="display-to-print">
        <h3 class="text-center mt-2">Winner: <span class="underline font-normal">{{tab.winner}}</span></h3>
        <div class="grid grid-cols-2 gap-2">
            <article>
                <h3 class="text-center m-4"><span class="bg-red-600 text-white font-normal rounded p-1">PrimeNG</span></h3>
                <h4 class="text-green-600">Pros - <span class="text-sm text-white bg-green-700 font-normal rounded-full px-1">{{tab.primeNG?.pros?.length ? tab.primeNG?.pros?.length : 0}}</span></h4>
                <ul class="list-decimal list-inside">
                    @for (pro of tab.primeNG?.pros; track $index) {
                        <li class="m-2">{{pro}}.</li>
                    } @empty {
                        <br>
                    }
                </ul>

                <h4 class="text-red-600">Cons - <span class="text-sm text-white bg-red-700 font-normal rounded-full px-1">{{tab.primeNG?.cons?.length ? tab.primeNG?.cons?.length : 0}}</span></h4>
                <ul class="list-decimal list-inside">
                    @for (con of tab.primeNG?.cons; track $index) {
                        <li class="m-2">{{con}}.</li>
                    }
                </ul>
            </article>
            <article>
                <h3 class="text-center m-4"><span class="bg-orange-600 text-white font-normal rounded p-1">Angular Material</span></h3>
                <h4 class="text-green-600">Pros - <span class="text-sm text-white bg-green-700 font-normal rounded-full px-1">{{tab.angularMaterial?.pros?.length ? tab.angularMaterial?.pros?.length : 0}}</span></h4>
                <ul class="list-decimal list-inside">
                    @for (pro of tab.angularMaterial?.pros; track $index) {
                        <li class="m-2">{{pro}}.</li>
                    } @empty {
                        <br>
                    }
                </ul>

                <h4 class="text-red-600">Cons - <span class="text-sm text-white bg-red-700 font-normal rounded-full px-1">{{tab.angularMaterial?.cons?.length ? tab.angularMaterial?.cons?.length : 0}}</span></h4>
                <ul class="list-decimal list-inside">
                    @for (con of tab.angularMaterial?.cons; track $index) {
                        <li class="m-2">{{con}}.</li>
                    }
                </ul>
            </article>
        </div>
    </section>
}
