/* You can add global styles to this file, and also import other style files */
//Al principio del archivo las importaciones
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/md-light-indigo/theme.css";
@import "primeng/resources/primeng.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    print-color-adjust: exact;

    &:not(form *) {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.display-to-print {
    display: none;

    @media print {
        display: block;
    }
}

@media print {
    .remove-to-print, .mdc-tab-indicator {
        display: none !important;
    }
}

.p-button {
    background-color: #1d4ed8;
    padding: 8px;
    font-size: 14px;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;

    &:focus {
        box-shadow: none;
    }
}

/* REALLY difficult to find out how to set these... */
/* The first is for the colors of the tabs, the second for the arrows */
.mdc-tab-indicator__content--underline, .mat-mdc-tab-header-pagination-chevron {
    color: #1d4ed8 !important;
    border-color: #1d4ed8 !important;
}

.primeng {
    @apply bg-red-600 text-white font-normal rounded p-1;
}

.angular-material {
    @apply bg-orange-600 text-white font-normal rounded p-1;
}

main {
    flex-wrap: wrap;

    section {
        justify-content: center;
        align-items: center;
    }
}
